<div class="padding">
  <p class="font-p1"><b>PERSONALITY</b></p>
  <div class="design1"></div>
  <div class="font-p2">
      <el-row>
        <el-col :span="2"><i class="el-icon-check"></i></el-col>
        <el-col :span="22">Team Work</el-col>
      </br>
      </br>
        <el-col :span="2"><i class="el-icon-check"></i></el-col>
        <el-col :span="22">Creativity</el-col>
      </br>
      </br>
        <el-col :span="2"><i class="el-icon-check"></i></el-col>
        <el-col :span="22">Communication</el-col>
      </br>
      </br>
        <el-col :span="2"><i class="el-icon-check"></i></el-col>
        <el-col :span="22">Innovation</el-col>
        </el-col>
      </el-row>
    </div>
</div>