<div class="padding">
  <p class="font-p1"><b>ORGANIZATION EXPERIENCE</b></p>
  <div class="design1"></div>
  <div class="font-p2">
    2016 - 2018</br>
    Laboratory Staff (Faculty of Information Technology)
    </br>
    </br>
    2017 – 2018</br>
    Senat Mahasiswa (Faculty of Information Technology)
    </br>
    </br>
    2017</br>
    Student Activity Fair
    </br>
    </br>
    2018</br>
    Usher One Day Campus ACM ICPC</br>
    Mentor of Wiratha Fest 2018</br>
    Bebras Challenge
  </div>
</div>