<div class="padding">
  <p class="font-p1"><b>CONTACT</b></p>
  <div class="design1"></div>
  <div class="font-p2">
    <el-row>
      <el-col :span="20">Jl. Kembar Mas Selatan No.45</el-col>
      <el-col :span="4"><i class="el-icon-location-information"></i></el-col>
    </br>
    </br>
      <el-col :span="20">+62857989490077</el-col>
      <el-col :span="4"><i class="el-icon-mobile-phone"></i></el-col>
    </br>
    </br>
      <el-col :span="20">jeremia.varian@gmail.com</el-col>
      <el-col :span="4"><i class="el-icon-message"></i></el-col>
    </el-row>
  </div>
</div>