<div class="padding">
  <p class="font-p1"><b>LANGUAGE</b></p>
  <div class="design1"></div>
  <div class="font-p2">
    <el-row>
      <el-col :span="13">English</el-col>
      <el-col :span="11">
      <i class="el-icon-star-on"></i>
      <i class="el-icon-star-on"></i>
      <i class="el-icon-star-on"></i>
      <i class="el-icon-star-off"></i>
      <i class="el-icon-star-off"></i>
      </el-col>
    </br>
    </br>
      <el-col :span="13">Indonesia</el-col>
      <el-col :span="11">
        <i class="el-icon-star-on"></i>
        <i class="el-icon-star-on"></i>
        <i class="el-icon-star-on"></i>
        <i class="el-icon-star-on"></i>
        <i class="el-icon-star-on"></i>
      </el-col>
    </el-row>
  </div>
</div>